













/* Page customers */

/* Our client */

.client-section {
  padding: 100px 0 60px 0;
}

.client-section .container {
  max-width: 850px;
  padding: 0;
}

.client-title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 50px;
  text-align: center;
}
.client-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  padding: 19px 0;
}

 /* Choose product */


.choose-section {
  padding-top: 60px;
  background-color: var(--color-primeri-dg-light);
}
.section-title {
   margin-bottom: 50px;
}
.choose-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.choose-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dedede;
  border-radius: 10px;
  padding: 32px 28px;
  width: calc((100% - 60px) / 3);
  

}
.choose-item .snake-container.snake,
.choose-item .arrow-container.arrow,
.choose-item .time-container.time {
  margin-bottom: 32px;
}
.choose-icon {
}
.choose-card-title {
  font-size: 24px;
  line-height: 1.37;
  margin-bottom: 16px;
}
.choose-card-text {
  line-height: 1.69;
  letter-spacing: 0.01em;
  text-align: center;
}

/* How Product Work */

.product-work {
  padding-bottom: 58px;
}

.product-work .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1027px;
  padding: 0;
}

.product-work .section-title {
  margin-bottom: 73px;
}

.product-work-list {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-bottom: 87px;

}
.product-work-card {
  display: flex;
  align-items: center;
  gap: 88px;
}

.product-work-card.reverse {
  flex-direction: row-reverse;
}

.step {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 16px;
}
.card-title {
  font-size: 24px;
  margin-bottom: 16px;
}
.card-text {
  line-height: 1.75;
  margin: 0;
}
.product-work-btn {
  border-radius: 8px;
  width: 224px;
}

/* Offers */

.offer-section {
  padding-top: 58px;
  padding-bottom: 75px;
}

.offer-section .section-title {
  max-width: 537px;
  margin: 0 auto 50px;
}

.wrap-circle-lightning {
  width: 150px;
  height: 150px;
  background-color: #ffefef;
  border-radius: 100px;
  margin-bottom: 26px;
  /* position: relative; */
}
.wrap-background-lightning {
  position: relative;
  top:32px;
  left: 47px;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  background-color: var(--color-icon-red);
  transform-origin: bottom right; 
  transform: rotate(-15deg);
}
.wrap-bg-icon-lightning {
  position: absolute;
  top: 13px;
  left: 6px;
  width: 50px;
  height: 50px;
  border: 2px solid #FF759F;
  border-radius: 8px;
  background-color: var(--color-icon-red);
  transform: rotate(15deg);
  /* z-index: 5; */
}

.client-logo-lightning {
  position: absolute;
  top: 8px;
  left: 7px;
  /* z-index: 10; */

  /* fill: var(--color-primeri-white); */
  
}

.offer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 227px;
}
.offer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offer-item-title {
  color: #000;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  margin-bottom: 16px;
 
}

.offer-item-text {
  width: 215px;
  font-size: 18px;
  line-height: 1.78;
  text-align: center;
  margin-bottom: 12px;
}

.wrap-circle-union {
   width: 150px;
  height: 150px;
  background-color: #f2f6ff;;
  border-radius: 100px;
  margin-bottom: 26px;
}

.wrap-background-union {
  position: relative;
  top:32px;
  left: 47px;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  background-color: var(--color-icon-blue);
  transform-origin: bottom right; 
  transform: rotate(-15deg);
}

.wrap-bg-icon-union {
  position: absolute;
  top: 13px;
  left: 6px;
  width: 50px;
  height: 50px;
  border: 2px solid #00c3ff;
  border-radius: 8px;
  background-color: var(--color-icon-blue);
  transform: rotate(15deg);
}

.client-logo-union {
  position: absolute;
  top: 6px;
  left: 6px;
}

.offer-link.link {
  color: #000;
  font-weight: 500; 
  line-height: 1.75;
  padding: 0;
}

.offer-link.link:hover,
.offer-link.link:focus {
  color: var(--color-brand);
}

/* Promo */
.promo-section.customers {
  padding: 75px 0;
}

.footer-section.customers {
  padding-top: 75px;
}

/* Page Price */


.question-section {
  padding: 75px 0;
}
.question-section .container {
  max-width: 920px;
  padding: 0;
}







