@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v22-latin-regular.eot');
  src: url('../fonts/poppins-v22-latin-regular.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/poppins-v22-latin-regular.woff2') format('woff2'), 
       url('../fonts/poppins-v22-latin-regular.woff') format('woff'), 
       url('../fonts/poppins-v22-latin-regular.ttf') format('truetype'), 
       url('../fonts/poppins-v22-latin-regular.svg#Poppins') format('svg'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-v22-latin-500.eot');
  src: url('../fonts/poppins-v22-latin-500.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/poppins-v22-latin-500.woff2') format('woff2'), 
       url('../fonts/poppins-v22-latin-500.woff') format('woff'), 
       url('../fonts/poppins-v22-latin-500.ttf') format('truetype'), 
       url('../fonts/poppins-v22-latin-500.svg#Poppins') format('svg'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v22-latin-600.eot');
  src: url('../fonts/poppins-v22-latin-600.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/poppins-v22-latin-600.woff2') format('woff2'), 
       url('../fonts/poppins-v22-latin-600.woff') format('woff'), 
       url('../fonts/poppins-v22-latin-600.ttf') format('truetype'), 
       url('../fonts/poppins-v22-latin-600.svg#Poppins') format('svg'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v22-latin-700.eot');
  src: url('../fonts/poppins-v22-latin-700.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/poppins-v22-latin-700.woff2') format('woff2'), 
       url('../fonts/poppins-v22-latin-700.woff') format('woff'), 
       url('../fonts/poppins-v22-latin-700.ttf') format('truetype'), 
       url('../fonts/poppins-v22-latin-700.svg#Poppins') format('svg'); 
}


:root {
    --color-brand: #02897A;
    --color-brand-light: #bcd0e5;
    --color-icon-blue: #4D8DFF;
    --color-icon-violet: #740A76;
    --color-icon-red: #F03E3D;
    --color-primeri-dark: #22343D;
    --color-primeri-white: #FFFFFF;
    --color-secondary-dark: #1F2E35;
    --color-secondary-normal: #30444E;
    --color-secondary-light: #475E69;
    --color-logo: #173A56;
}

/* base */
body {
  color: var(--color-primeri-dark);
  background-color: var(--color-primeri-white);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.62;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

ul {
    list-style-type: none; /*убирає маркування списку*/
}

img {
	display: block;
}

.section {
  /* max-width: 1400px; */
  width: 100%;
  margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1110px;
    margin: auto;
}

/* Header */

.header.section {
  margin-bottom: 15px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  padding: 19px 0;
}

.header-nav {
  display: flex;
  align-items: center;
}


.header .link-logo {
    color:var(--color-logo);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93; 
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right: 237px;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.link {
    display: block;
    color: var(--color-primeri-dark);
    text-decoration: none;
    line-height: 1.75;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
  color: var(--color-brand);
}

.link.current {
  font-weight: 600;
  line-height: 1.75;
}

.btn-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 21px;
}

.button-in,
.button-up {
  height: 42px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  padding: 9px 24px;
  cursor: pointer;
}

.btn-menu .button-in {
  width: 105px;
  border: 1px solid var(--color-brand-light);
  border-radius: 4px;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.btn-menu .button-up {
  width: 113px;
  border-radius: 4px;
  background-color: var(--color-brand);
  color: var(--color-primeri-white);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button-in:hover {
  color: var(--color-primeri-white);
  background-color: var(--color-brand);
  border: none;
}

.button-up:hover {
  color: var(--color-primeri-dark);
  background-color: transparent;
  border: 1px solid var(--color-brand-light);
}

/* Hero section */
.hero-section {
  margin-bottom: 110px;
}

.hero-section .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.hero-container {
  width: 100%;
  max-width: 465px;
  padding: 112px 0;
}

.hero-title {
  width: 420px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 18px;
}

.hero-text {
  font-size: 18px;
  line-height: 1.56;
  margin-bottom: 45px;
}

.hero-list {
  display: flex;
  align-items: center;
  gap: 30px;

}

.hero-btn {
  width: 178px;
  height: 53px;
  padding: 15px 0;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  color: var(--color-primeri-white);
  background-color: var(--color-brand);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
  color: var(--color-primeri-dark);
  background-color: transparent;
  border: 1px solid var(--color-brand-light);
}


.hero-video-btn {
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 2px 0;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--color-brand);
  background-color: transparent;

}

.icon-play {
  fill: var(--color-brand);
  margin-right: 9px;
}

/* Product section */

.product-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-title {
  width: 530px;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin: 0 auto 50px;
}

.product-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}

.product-card {
  width: calc((100% - 90px) / 4);
}

.arrow,
.snake,
.heart,
.time {
  border-radius: 19px;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 26px;
}

.arrow-container {
  background-color: var(--color-brand);
}
.snake-container {
  background-color: var(--color-icon-blue);
}
.heart-container {
  background-color: var(--color-icon-violet);
}
.time-container {
  background-color: var(--color-icon-red);
}

.icon-arrow,
.icon-snake,
.icon-heart,
.icon-time {
  fill: var(--color-primeri-white);
}

.card-title {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 13px;
}

.product-btn {
  width: 175px;
  height: 53px;
  padding: 15px 0;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  color: var(--color-primeri-white);
  background-color: var(--color-brand);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-btn:hover {
  color: var(--color-primeri-dark);
  background-color: transparent;
  border: 1px solid var(--color-brand-light);
}