




.footer-wrap-container {
  display: flex;
  margin-bottom: 10px;
}




.icon-link:hover,
.icon-link:focus {
    background-color: var(--color-brand);
}

.icon-link:hover .sociale-icons,
.icon-link:focus .sociale-icons {
  fill: var(--color-brand);
  stroke: var(--color-icon-cociale);
}

.wrap-logo-sociale {
  margin-right: 148px;
}

.wrap-title-list {
  flex-shrink: 0;
  margin-right: 140px;
}

.wrap-title-list.footer {
  flex-shrink: 0;
  margin-right: 95px;
}

.footer-link:hover {
  color: var(--color-brand);
}

.form-icons {
  fill: var(--color-brand);
}





.for-input-icon {
  position: relative;
}



/* Іконка всередині інпуту */
.form-icon {
  position: absolute;
  left: 12px; /* Відступ іконки від краю інпуту */
  top: 50%; /* Розташування по центру вертикально */
  transform: translateY(-50%); /* Центрування іконки */
  fill: var(--color-brand); /* Колір іконки */
  pointer-events: none; /* Щоб іконка не перекривала поле вводу */
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



 .for-input-icon:focus-within .form-icon {
  fill: var(--color-primeri-light); /* Змінений колір іконки */
}

/* Зміна кольору плейсхолдера при фокусі */
.form-field:focus::placeholder {
  color: var(--color-primeri-light)
}



/* Page customers */

/* Our client */

.client-section {
  padding: 100px 0 60px 0;
}

.client-section .container {
  max-width: 850px;
  padding: 0;
}

.client-title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 50px;
  text-align: center;
}
.client-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  padding: 19px 0;
}

 /* Choose product */


.choose-section {
  padding-top: 60px;
  background-color: var(--color-primeri-dg-light);
}
.section-title {
   margin-bottom: 50px;
}
.choose-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.choose-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dedede;
  border-radius: 10px;
  padding: 32px 28px;
  width: calc((100% - 60px) / 3);
  

}
.choose-item .snake-container.snake,
.choose-item .arrow-container.arrow,
.choose-item .time-container.time {
  margin-bottom: 32px;
}
.choose-icon {
}
.choose-card-title {
  font-size: 24px;
  line-height: 1.37;
  margin-bottom: 16px;
}
.choose-card-text {
  line-height: 1.69;
  letter-spacing: 0.01em;
  text-align: center;
}

/* How Product Work */

.product-work {
  padding-bottom: 58px;
}

.product-work .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1027px;
  padding: 0;
}

.product-work .section-title {
  margin-bottom: 73px;
}

.product-work-list {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-bottom: 87px;

}
.product-work-card {
  display: flex;
  align-items: center;
  gap: 88px;
}

.product-work-card.reverse {
  flex-direction: row-reverse;
}

.step {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 16px;
}
.card-title {
  font-size: 24px;
  margin-bottom: 16px;
}
.card-text {
  line-height: 1.75;
  margin: 0;
}
.product-work-btn {
  border-radius: 8px;
  width: 224px;
}

/* Offers */

.offer-section {
  padding-top: 58px;
  padding-bottom: 75px;
}

.offer-section .section-title {
  max-width: 537px;
  margin: 0 auto 50px;
}

.wrap-circle-lightning {
  width: 150px;
  height: 150px;
  background-color: #ffefef;
  border-radius: 100px;
  margin-bottom: 26px;
  /* position: relative; */
}
.wrap-background-lightning {
  position: relative;
  top:32px;
  left: 47px;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  background-color: var(--color-icon-red);
  transform-origin: bottom right; 
  transform: rotate(-15deg);
}
.wrap-bg-icon-lightning {
  position: absolute;
  top: 13px;
  left: 6px;
  width: 50px;
  height: 50px;
  border: 2px solid #FF759F;
  border-radius: 8px;
  background-color: var(--color-icon-red);
  transform: rotate(15deg);
  /* z-index: 5; */
}

.client-logo-lightning {
  position: absolute;
  top: 8px;
  left: 7px;
  /* z-index: 10; */

  /* fill: var(--color-primeri-white); */
  
}

.offer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 227px;
}
.offer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offer-item-title {
  color: #000;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  margin-bottom: 16px;
 
}

.offer-item-text {
  width: 215px;
  font-size: 18px;
  line-height: 1.78;
  text-align: center;
  margin-bottom: 12px;
}

.wrap-circle-union {
   width: 150px;
  height: 150px;
  background-color: #f2f6ff;;
  border-radius: 100px;
  margin-bottom: 26px;
}

.wrap-background-union {
  position: relative;
  top:32px;
  left: 47px;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  background-color: var(--color-icon-blue);
  transform-origin: bottom right; 
  transform: rotate(-15deg);
}

.wrap-bg-icon-union {
  position: absolute;
  top: 13px;
  left: 6px;
  width: 50px;
  height: 50px;
  border: 2px solid #00c3ff;
  border-radius: 8px;
  background-color: var(--color-icon-blue);
  transform: rotate(15deg);
}

.client-logo-union {
  position: absolute;
  top: 6px;
  left: 6px;
}

.offer-link.link {
  color: #000;
  font-weight: 500; 
  line-height: 1.75;
  padding: 0;
}

.offer-link.link:hover,
.offer-link.link:focus {
  color: var(--color-brand);
}

/* Promo */
.promo-section.customers {
  padding: 75px 0;
}

.footer-section.customers {
  padding-top: 75px;
}

/* Page Price */

/* Price */
.section.section-price {
  padding-bottom: 75px;
}

.section-price .container {
  display: flex;
  flex-direction: column; 
}

.section-price-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 32px;
}

.section-price .price-title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 16px;

}
.section-price .price-text {
  margin-bottom: 49px;
}

/* Enterprise */

.enterprise-section {
  padding: 75px 0;
  background: linear-gradient(180deg, #f6f6f6 0%, rgba(246, 246, 246, 0) 100%);
}
.section-enterprise-title {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  margin-bottom: 16px;
}
.section-titile {
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  margin-bottom: 8px;
}
.enterprise-section-text {
  font-size: 18px;
  text-align: center;
  margin-bottom: 32px;
}
.enterprise-btn {
  display: block;
  width: 224px;
  border-radius: 8px;
  margin: 0 auto;
}

/* Effects */

.effects-section {
  padding: 75px 0;
}

.effects-title {
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  margin-bottom: 56px;
}
.wrap-effects.image-list {
  display: flex;
  gap: 60px;
}

.wrap-effects-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  background-color: var(--color-icon-effects-bg);
}

.wrap-icon-title {
   display: flex;
   align-items: center;
   gap: 14px;
   margin-bottom: 16px;
}

.effects-item-title {
  font-weight: 600;
  font-size: 24px;

}
.effects-item-text {
  line-height: 1.75;
}

/* Question */

.question-section {
  padding: 75px 0;
}
.question-section .container {
  max-width: 920px;
  padding: 0;
}
.question-title {
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  margin-bottom: 8px;
}

.section-question-text {
  font-size: 18px;
  text-align: center;
  margin-bottom: 50px;
}

.question-text {
  display: block;
  font-weight: 500;
  font-size: 18px;
}

.question-item {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 22px; 
}

.question-item::after {
  content: "";
  display: block;
  width: 100%;
  border: 1px solid var(--color-after);
  position: absolute;
  bottom: 0;
  left: 0;
}
.question-item:not(:last-child) {
  margin-bottom: 16px;
}

.question-item {
  flex-direction: column;
  align-items: flex-start;  
}

.wrap-icon-text {
  display: flex; 
  align-items: center;
  margin-bottom: 14px;
}
.icon-question {
  fill: var(--color-brand);
  margin-right: 16px;
}

/* Pricing */

.promo-section.pricing {
  padding: 75px 0;
}

/* Footer */

.footer-section.pricing {
  padding-top: 75px;
}
